.breadcrumb {
    text-align: center;
    position: fixed;
    bottom: 30px;
    margin: 5px;
  }
.breadcrumb li {
    display: inline;
    width: 100%;;
    padding: 2px;
}
.breadcrumb li+li::before {
    content: "-~>";
    color: darkcyan;
}
.breadcrumb li+li::after {
  content: "<~-";
  color: darkcyan;
}
.breadcrumb a {
    color: #fff;
    background: darkcyan;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
}

.breadcrumb a:hover {
    background-color: lightcyan;
    color: darkcyan;
}

/* uses little 'x' close indicator as superscript
for attributes that can be removed on click*/
/* .attribute a::after {
    content: " x";
    font-size: 8px;
    vertical-align: super;
  } */

  /* .breadcrumb li{
    display: inline;
  }
  .breadcrumb li.location+li.location::before {
    content: " ~> ";
  }
  .breadcrumb a:hover {
    color: lightgreen;
  }
  .breadcrumb li.attribute {
    color: darkcyan;
  }
  .breadcrumb li.attribute::after {
    content: "x";
    color: cyan;
    font-size: 8;
    vertical-align: super;
  } */