.cosmic_clock {
    /* opacity: 0.8; */
    margin: 0;
    position: relative;    
}
.underlay {
    background-image: url(./img/krsna.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 100%;
    width: 100%; */
    opacity: 0.9;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
#earthyearvideo {
    z-index: -2 !important;
    display: inline; 
    position: absolute !important; 
    top: 0;
    left: 0;
}
#aiechoes {
    z-index: -3 !important;
    display: inline;
    position: absolute !important; 
    top: 0;
    left: 0;
    opacity: 0.5 !important;
}
.youtube_playlist {
    font-family: 'Chalkboard';
    color: whitesmoke;
    background-color: transparent;
    font-weight: bold;
    padding: 25px;
    width: 960px;
    height: 720px;
    margin: 100px auto 300px auto;
    text-align: center;
    position: relative;
}
.jolly_dalle {

}