.minds_embed_widget{
    width: 100%;
    margin-top: 0px !important;
    opacity: 0.8;
    
  }
  .minds_embed_widget h1{
    font-family: "Chalkboard";
    color: white;
    text-align: center;
    width: 100%;
    font-weight: bold;
    
  }